<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>autorizacia</title>
    <style type="text/css">        h1{
            font-size: 60px;
           }
        p{
            color: black;
            font-size: 40px;
        }
        body{
          background:url(https://www.iguides.ru/upload/iguides_html/d0b/d0b0ea2bebd7cfe272b9a57a92c76839.jpg) no-repeat center center fixed;
          background-size: cover;
        }

    </style>
</head>
<body><h1>Registration</h1>
<form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
</body>
</html>
